<div class="container">
  <div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-3">todos</h1>
	  <p class="lead">These are your todos.Feel free to play around with them.</p>
  </div>
  <div class="input-group">
    <input id="new-todo" type="text" class="form-control" placeholder="What needs to be done?" aria-label="What needs to be done?" aria-describedby="basic-addon1" autofocus="">
  </div>

  <div class="form-horizontal center-block">
    <button class="btn">
      <span id='remainingTasks' class="badge badge-light"></span> items left
    </button>
    <button class="btn" onclick="TodoApp.updatTaskFilter(ALL);">
      <span id='allTasks' class="badge badge-secondary"></span> All
    </button>
    <button class="btn" onclick="TodoApp.updatTaskFilter(ACTIVE);">
      <span id='activeTasks' class="badge badge-success"></span> Active
    </button>
    <button class="btn" onclick="TodoApp.updatTaskFilter(IN_PROGRESS);">
      <span id='inprogressTasks' class="badge badge-warning"></span> In Progress
    </button>
    <button class="btn" onclick="TodoApp.updatTaskFilter(COMPLETED);">
      <span id='completedTasks' class="badge badge-danger"></span> Completed
    </button>
  </div>

  <div id='todos' class="form-horizontal center-block">
  </div>
</div>