<div class="text-center font-weight-bold">
	<large>todos</large>
</div>
<div class="input-group">
  <input id="new-todo" type="text" class="form-control" placeholder="What needs to be done?" aria-label="What needs to be done?" aria-describedby="basic-addon1" autofocus="">
</div>

<div id='todos'>
</div>